<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post </title>
</head>
<body>
   <form method="post" action="/posts">
    <label for="user">Enter Username </label>
    <input type="text" name="username" placeholder="Fill Username" id="user"><br><br>
    <label for="content"> Enter Caption </label>
    <textarea name="content"></textarea><br><br>
    <button>Submit Post </button>

   </form>



</body>
</html>