body{
    background-color: azure;
}
h1{
    color: red;
    text-align: center;
}
.posting{
    background-color: black;
    color: white;
   border: 2px solid white;
   width: 80%;
   margin: 0 auto;

}
.username{
    font-style: italic;
}
.content{
    font-style: italic;
}
.create_a_new_post{
    height: 30px;
    width: 40%;
    background-color: yellow;
    color: black;
    font-size: large;


}
#para{
    font: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.post{
    background-color: aqua;
    color: darkblue;
    text-align: center;
}
#detailing{
    color: yellow;
}
